name: Automated publish

on:
  push:
    branches:
      - main
    paths:
      - "*/PKGBUILD"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  publish:
    name: Publish

    runs-on: ubuntu-24.04
    environment: publishing

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Publish package
        uses: KSXGitHub/github-actions-deploy-aur@master
        with:
          pkgname: freelens-bin
          pkgbuild: freelens-bin/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
