name: updpkgsums

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

permissions:
  contents: write

jobs:
  updpkgsums:
    name: updpkgsums

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Find updated package
        run: echo "pkgbuild=$(git diff --name-only origin/main origin/${GITHUB_HEAD_REF} "*PKGBUILD" | head -1 | xargs dirname)"
          >> $GITHUB_ENV

      - name: Validate package
        if: ${{ env.pkgbuild != '' }}
        uses: ./.github/actions/aur
        with:
          action: updpkgsums
          pkgname: ${{ env.pkgbuild }}

      - name: Commit
        if: ${{ env.pkgbuild != '' }}
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: "*/PKGBUILD */.SRCINFO"
